<div class="light-container">
  <div style=" align-items: center;" class="red-light">{{allPotNumbers()[0]==0?1:1}}</div>
  <div class="green-light">{{allPotNumbers()[1]==0?1:1}}</div>
  <div class="purple-light">{{allPotNumbers()[2]==0?1:1}}</div>
  <div class="blu-light">{{allPotNumbers()[3]==0?1:1}}</div>
  <div class="cyan-light">{{allPotNumbers()[4]==0?1:1}}</div>
  <div class="blue-light">{{getLastNumber()}}</div>
</div>

<div>
<button class="button-56"  (click)="allPotNumbers()"> Generate New Number</button>
</div>

<footer class="footer" > Entertainment Only!</footer>
